<a href="https://colab.research.google.com/github/Jittiya/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน Textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ Python คือี package สำหรับการทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [2]:
import pandas  #เรียกใช้ package โดยการ import ต่อด้วยชื่อ package

In [4]:
import pandas as pd  #เป็นการ import เหมือนกัน แต่เปลี่ยนการตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่จะต้องใช้ในวิชานี้

In [5]:
data_df = pd.read_csv('data.csv')    #ใช้คำสั่งเพื่อนำ data เข้ามา

In [6]:
data_df   #เรียกดู data

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [8]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
##variable

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [9]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a

In [10]:
variable_a

12

In [11]:
variable_b

'abcde'

In [12]:
variable_c

12

In [14]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [17]:
# พยายามใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้แต่ไม่ควรใช้
ตัวแปร = 3           
ตัวแปร

3

In [20]:
# ตัวเล็กกับตัวใหญ่ต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [22]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [23]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [24]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [25]:
print(variable)

1

In [26]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a
variable_d = -41.2
variable_4 = "KKU"  # " เรียกว่า double quote

In [27]:
variable_x =  variable_c + variable_d
print(variable_x)

-29.200000000000003

In [28]:
variable_x

-29.200000000000003

In [30]:
variable_a + variable_b

TypeError: ignored

In [32]:
print(variable_b + variable_4)  # print สามารถพิมพ์อะไรก็ได้ลงไปใน ()

abcdeKKU

# Casting int() str()

- เปลี่ยนชนิดของตัวแปรได้

In [33]:
print(variable_x)            # เปลี่ยนให้เป็นจำนวนเต็ม ตอนแรกเป็น float เป็น int
print(int(variable_x))

-29.200000000000003
-29

In [34]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [35]:
V_X + variable_a

TypeError: ignored

In [36]:
variable_a + V_X

TypeError: ignored

In [37]:
V_X

'-29.200000000000003'

In [38]:
float(V_X)

-29.200000000000003

## Data Structure
### list()

In [39]:
list_a = [1,2,0.2,'abs' ]  # [ ] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [40]:
list_a

[1, 2, 0.2, 'abs']

In [41]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [43]:
len(list_b)   # ดูว่าใน list_b มีสมาชิกกี่ตัว

4

In [44]:
list_b[3]

[1, 2, 0.0]

In [45]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [46]:
a = 'Stat KKU'

In [47]:
a[4]

' '

# วิธีการสร้าง list ว่าง

In [48]:
list_c = list()  #แบบที่ 1
list_d = []      #แบบที่ 2

In [49]:
list_c

[]

In [50]:
list_d

[]

- เติมค่าลงไปใน list (.append())

In [51]:
list_d.append('a')

In [52]:
list_d

['a']

In [53]:
list_d.append(56)

In [54]:
list_d

['a', 56]

### การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [55]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [56]:
list_b[-1]   #ชี้ค่าข้างหลังสุด

[1, 2, 0.0]

## list slicing
เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง] \
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [57]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [59]:
list_ex[1:6]   # : สัญลักษณ์ของ slicing
                   # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [60]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [61]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [63]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [62]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [66]:
list_ex[::-1]   # การกลับ list จากหลังมาหน้า จากหน้ามาหลัง

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [67]:
a

'Stat KKU'

In [76]:
a[5:]

'KKU'

In [75]:
a[-3:]

'KKU'

In [78]:
a[5:8]

'KKU'

In [79]:
a[5::]

'KKU'

In [80]:
a[-3::]

'KKU'

In [81]:
a[-3::1]

'KKU'

### list + list

In [83]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [82]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f 'string{ตัวแปร}'
```

In [87]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

In [88]:
f'ตัวแปร list_ex มีค่าคือ {list_ex}'

'ตัวแปร list_ex มีค่าคือ [1, 2, 3, 5, 6, 8, -1, 20, 50, 0]'

# Loop

```python
for ตัวแปรที่จะรับค่าจาก list in list:
     do something
```

In [86]:
for i in [1,2,3,4,5]:
     print(i+1)

2
3
4
5
6

In [89]:
for x in [1,2,3,4,5]:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [90]:
list5=[1,2,3,4,5]
for x in list5:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [91]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
for i in range(2,7):
     print(i)

2
3
4
5
6

In [93]:
for i in range(2,7,2):
     print(i)

2
4
6

In [94]:
for i in range(5):
     print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [95]:
for i in range(5):
     print('hahaha')
     x = i + 3
     print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

loopซ้อนloop

In [98]:
for i in range(3):
     for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')

i=0 j=0 i+j=0
i=0 j=1 i+j=1
i=0 j=2 i+j=2
i=0 j=3 i+j=3
i=1 j=0 i+j=1
i=1 j=1 i+j=2
i=1 j=2 i+j=3
i=1 j=3 i+j=4
i=2 j=0 i+j=2
i=2 j=1 i+j=3
i=2 j=2 i+j=4
i=2 j=3 i+j=5

## Condition
## Function