<a href="https://colab.research.google.com/github/Jittiya/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน Textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ Python คือี package สำหรับการทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [5]:
import pandas  #เรียกใช้ package โดยการ import ต่อด้วยชื่อ package

In [6]:
import pandas as pd  #เป็นการ import เหมือนกัน แต่เปลี่ยนการตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่จะต้องใช้ในวิชานี้

In [7]:
data_df = pd.read_csv('data.csv')    #ใช้คำสั่งเพื่อนำ data เข้ามา

In [8]:
data_df   #เรียกดู data

           name      age       city
0        0\tTom       27  Khon Kaen
1   1\tPaul\t15  Bangkok        NaN
2  2\tSarah\t49   London        NaN

In [9]:
data_df2 = pandas.read_csv('data.csv')
data_df2

           name      age       city
0        0\tTom       27  Khon Kaen
1   1\tPaul\t15  Bangkok        NaN
2  2\tSarah\t49   London        NaN

# Basic Python
##variable

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [10]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a

In [11]:
variable_a

12

In [12]:
variable_b

'abcde'

In [13]:
variable_c

12

In [14]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
# พยายามใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้แต่ไม่ควรใช้
ตัวแปร = 3           
ตัวแปร

In [ ]:
# ตัวเล็กกับตัวใหญ่ต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [15]:
print(variable)

NameError: ignored

In [16]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a
variable_d = -41.2
variable_4 = "KKU"  # " เรียกว่า double quote

In [17]:
variable_x =  variable_c + variable_d
print(variable_x)

-29.200000000000003

In [18]:
variable_x

-29.200000000000003

In [19]:
variable_a + variable_b

TypeError: ignored

In [20]:
print(variable_b + variable_4)  # print สามารถพิมพ์อะไรก็ได้ลงไปใน ()

abcdeKKU

# Casting int() str()

- เปลี่ยนชนิดของตัวแปรได้

In [21]:
print(variable_x)            # เปลี่ยนให้เป็นจำนวนเต็ม ตอนแรกเป็น float เป็น int
print(int(variable_x))

-29.200000000000003
-29

In [22]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [23]:
V_X + variable_a

TypeError: ignored

In [24]:
variable_a + V_X

TypeError: ignored

In [ ]:
V_X

In [25]:
float(V_X)

-29.200000000000003

## Data Structure
### list()

In [26]:
list_a = [1,2,0.2,'abs' ]  # [ ] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [27]:
list_a

[1, 2, 0.2, 'abs']

In [28]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [29]:
len(list_b)   # ดูว่าใน list_b มีสมาชิกกี่ตัว

4

In [30]:
list_b[3]

[1, 2, 0.0]

In [31]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [32]:
a = 'Stat KKU'

In [33]:
a[4]

' '

# วิธีการสร้าง list ว่าง

In [34]:
list_c = list()  #แบบที่ 1
list_d = []      #แบบที่ 2

In [35]:
list_c

[]

In [36]:
list_d

[]

- เติมค่าลงไปใน list (.append())

In [37]:
list_d.append('a')

In [38]:
list_d

['a']

In [39]:
list_d.append(56)

In [40]:
list_d

['a', 56]

### การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [41]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [42]:
list_b[-1]   #ชี้ค่าข้างหลังสุด

[1, 2, 0.0]

## list slicing
เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง] \
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [43]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [44]:
list_ex[1:6]   # : สัญลักษณ์ของ slicing
                   # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [45]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [46]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [47]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [48]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [49]:
list_ex[::-1]   # การกลับ list จากหลังมาหน้า จากหน้ามาหลัง

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [50]:
a

'Stat KKU'

In [51]:
a[5:]

'KKU'

In [52]:
a[-3:]

'KKU'

In [53]:
a[5:8]

'KKU'

In [54]:
a[5::]

'KKU'

In [55]:
a[-3::]

'KKU'

In [56]:
a[-3::1]

'KKU'

### list + list

In [57]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [58]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f 'string{ตัวแปร}'
```

In [59]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

In [60]:
f'ตัวแปร list_ex มีค่าคือ {list_ex}'

'ตัวแปร list_ex มีค่าคือ [1, 2, 3, 5, 6, 8, -1, 20, 50, 0]'

# Loop

ทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน

indent
```python
for ตัวแปรที่จะรับค่าจาก list in list: ลิสต์ที่จะนำมาวนลูป: 
     do something  #in loop
     do another thing   #in loop

do snother things  # out side loop
```

In [61]:
for i in [1,2,3,4,5]:
     print(i+1)

2
3
4
5
6

In [62]:
for x in [1,2,3,4,5]:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [63]:
list5=[1,2,3,4,5]
for x in list5:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
for i in range(2,7):
     print(i)

2
3
4
5
6

In [66]:
for i in range(2,7,2):
     print(i)

2
4
6

In [67]:
for i in range(5):
     print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [68]:
for i in range(5):
     print('hahaha')
     x = i + 3
     print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

loopซ้อนloop

In [69]:
for i in range(3):
     print(f' now i = {i}')
     print('start j loop')
     for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')
     print('end j loop')

 now i = 0
start j loop
i=0 j=0 i+j=0
i=0 j=1 i+j=1
i=0 j=2 i+j=2
i=0 j=3 i+j=3
end j loop
 now i = 1
start j loop
i=1 j=0 i+j=1
i=1 j=1 i+j=2
i=1 j=2 i+j=3
i=1 j=3 i+j=4
end j loop
 now i = 2
start j loop
i=2 j=0 i+j=2
i=2 j=1 i+j=3
i=2 j=2 i+j=4
i=2 j=3 i+j=5
end j loop

## Condition (if statement)

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทไงาน 2
```

In [70]:
stringx = 'nonttanont taont916 looooooovvvvveeeeee'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

nonttanont taont916 looooooovvvvveeeeee is longer than 30 characters

In [71]:
stringx = 'nonttanont taont916 looooooovvvvveeeeee'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทไงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x 
```

In [72]:
stringx = 'nonttanont taont916 looooooovvvvveeeeee'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
      print(f'{stringx} in {len(stringx)} characters long')    #ถ้าไม่มากกว่า100 ให้แสดงว่ามีเท่าไหร่

nonttanont taont916 looooooovvvvveeeeee in 39 characters long

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif  เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif  เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x 
```

In [73]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again!')
elif len(input_pass) < len(password):
    print('Too short, try again!')
else:
    print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [74]:
list_ex = [1,5,9,-19,-2,0]   #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 : Quiz1)

In [75]:
list_ex[3:4:2]

[-19]

In [76]:
# เฉลย
min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ

for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     if i < min:
         min = i
print(min)

-19

In [77]:
min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ
print(list_ex)
for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     print(f'now i = {i}, min = {min}')
     print('start condition')
     if i < min:
        print(f'i < min, update min -> {i}')
        min = i
     else:
          print('not update')
     print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 1000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
not update
end condition, go to next i
now i = 9, min = 1
start condition
not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
not update
end condition, go to next i
now i = 0, min = -19
start condition
not update
end condition, go to next i
-19

HW 2 ตัดเกรด

In [78]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]   #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [79]:
print(score)
for i in score:
   if  i  >= 80:
       print('grade "A" ')
   elif  i  >= 75:
         print('grade "B+" ')
   elif  i  >= 70:
         print('grade "B" ')
   elif  i  >= 65:
         print('grade "C+" ')
   elif  i  >= 60:
         print('grade "C" ')
   elif  i  >= 55:
         print('grade "D+" ')
   elif  i  >= 50:
         print('grade "D" ') 
   else:
         print('grade "F" ')

[49, 65, 70, 95, 82, 55, 89, 20, 77, 77, 81, 59, 10]
grade "F"
grade "C+"
grade "B"
grade "A"
grade "A"
grade "B+"
grade "A"
grade "F"
grade "B+"
grade "B+"
grade "A"
grade "B+"
grade "F"

## Function

## Function

```python
def ชื่อฟังก์ชั้น(input1,input2,....):
      งานxxx
      งานyyy
      return output
```



ส่วนประกอบสำคัญ
*   input
*   process (ไม่มีไม่ได้)
*   output

![Capture.PNG]()

Example 1

In [79]:
def grading(score):
      if  score  >= 80:
            grade = 'A'
      elif  score  >= 75:
            grade = 'B+'
      elif  score  >= 70:
            grade = 'B'
      elif  score  >= 65:
            grade = 'C+'
      elif  score  >= 60:
            grade = 'C'
      elif  score  >= 55:
            grade = 'D+'
      elif  score  >= 50:
            grade = 'D' 
      else:
            grade = 'F'

      return grade

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]